#app {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.header {
  position: relative;
  height: 60px;
  box-shadow: 0 0 5px #ddd;
  z-index: 2;
}
.header .progress {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 2px;
  color: #3eb0ef;
  background-color: #e6e6e6;
}
.header .progress::-moz-progress-bar {
  background: #3eb0ef;
}
.header .progress::-webkit-progress-bar {
  background: #e6e6e6;
}
.header .progress::-webkit-progress-value {
  background: #3eb0ef;
}
.header .progress .progress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}
.header .progress .progress-bar {
  width: 20px;
  height: 20px;
  background: url('../img/dog.gif');
  display: block;
}
.header .navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 10px 0;
  line-height: 40px;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}
.header .navbar .container {
  display: flex;
}
.header .navbar .logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header .navbar .logo .flubber {
  width: 40px;
  height: 40px;
  background-image: url('../img/flubber.png');
  background-size: cover;
  animation: bees 1s steps(1) infinite;
}
.header .navbar-nav {
  display: flex;
  flex: 1;
}
.header ul {
  margin: 0 0 0 auto;
  display: flex;
}
.header ul li {
  line-height: 40px;
}
.header ul a {
  margin: 0 10px;
  padding: 10px;
  font-size: 15px;
}
.header ul a.active {
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #bc55f8 0%, #d15ef8 100%);
}
@keyframes bees {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -40px 0;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px 0;
  }
}
.footer {
  height: 60px;
  line-height: 60px;
  color: #808291;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px #ddd;
}
.footer address {
  display: inline;
}
.body {
  padding: 25px 0;
  flex: auto;
}
#backtotop {
  height: 50px;
  position: fixed;
  bottom: 70px;
  right: -100px;
  z-index: 10;
  transition: all 1s ease;
}
#backtotop.showme {
  right: 12px;
  transform: scale(1) rotate(-360deg) translate(0);
}
#backtotop .btnbg {
  width: 50px;
  height: 50px;
  background: url('../img/top_button.png') no-repeat 0 0;
  cursor: pointer;
}
#backtotop .btnbg:hover {
  background-position: left bottom;
}
/*************************************************************
************************* 404/403 ******************************
**************************************************************/
.nopagewrap::before,
.nopagewrap::after,
.nopage::before,
.nopage::after {
  content: '';
  background: linear-gradient(#203075, #233581);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nopagewrap::before,
.nopage::before {
  background: linear-gradient(#233581, #203075);
}
.nopagewrap {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#203075, #233581);
}
.nopagewrap::before {
  height: 105vmax;
  width: 105vmax;
  z-index: 1;
}
.nopagewrap::after {
  height: 80vmax;
  width: 80vmax;
  z-index: 2;
}
.nopage {
  height: 100vh;
  color: #fff;
  font-family: 'Varela Round', Sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}
.nopage::before {
  height: 60vmax;
  width: 60vmax;
  z-index: 3;
}
.nopage::after {
  height: 40vmax;
  width: 40vmax;
  z-index: 4;
}
.bubble {
  z-index: 5;
  background: linear-gradient(#ec5dc1, #d61a6f);
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
}
.bubble::before,
.bubble::after {
  content: '';
  background: linear-gradient(#ec5dc1, #d61a6f);
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
}
.bubble:nth-child(1) {
  top: 15vh;
  left: 15vw;
  height: 22vmin;
  width: 22vmin;
}
.bubble:nth-child(1)::before {
  width: 13vmin;
  height: 13vmin;
  bottom: -25vh;
  right: -10vmin;
}
.bubble:nth-child(2) {
  top: 20vh;
  left: 38vw;
  height: 10vmin;
  width: 10vmin;
}
.bubble:nth-child(2)::before {
  width: 5vmin;
  height: 5vmin;
  bottom: -10vh;
  left: -8vmin;
}
.bubble:nth-child(3) {
  top: 12vh;
  right: 30vw;
  height: 13vmin;
  width: 13vmin;
}
.bubble:nth-child(3)::before {
  width: 3vmin;
  height: 3vmin;
  bottom: -15vh;
  left: -18vmin;
  z-index: 6;
}
.bubble:nth-child(4) {
  top: 25vh;
  right: 18vw;
  height: 18vmin;
  width: 18vmin;
}
.bubble:nth-child(4)::before {
  width: 7vmin;
  height: 7vmin;
  bottom: -10vmin;
  left: -15vmin;
}
.bubble:nth-child(5) {
  top: 60vh;
  right: 18vw;
  height: 28vmin;
  width: 28vmin;
}
.bubble:nth-child(5)::before {
  width: 10vmin;
  height: 10vmin;
  bottom: 5vmin;
  left: -25vmin;
}
.maininner {
  text-align: center;
  z-index: 6;
  color: #fff;
}
.maininner h1 {
  font-size: 145px;
  margin: 0;
}
.maininner p {
  font-size: 16px;
  padding: 20px;
}
.maininner a {
  background: linear-gradient(#ec5dc1, #d61a6f);
  padding: 0 12px;
  width: 86px;
  height: 86px;
  margin: 0 15px;
  font-size: 15px;
  line-height: 86px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: transform 0.3s 0.1s;
  transform: translateY(0);
  cursor: pointer;
}
.maininner a:hover {
  transform: translateY(10px);
}
/*************************************************************
************************* index ******************************
**************************************************************/
.bg-wraper {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.bg-wraper .triangle {
  position: absolute;
  width: 0px;
  height: 0px;
}
.bg-wraper .circle {
  position: absolute;
}
.bg-wraper .triangle1 {
  left: 7%;
  top: 25%;
  border-right: 22px solid #ff7b7b;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.bg-wraper .triangle2 {
  border-bottom: 15px solid transparent;
  border-right: 28px solid #ef91ff;
  border-top: 15px solid transparent;
  top: 20%;
  right: 30%;
}
.bg-wraper .triangle2:before {
  content: '';
  position: absolute;
  left: 11px;
  top: -21px;
  border: 3px solid #ef91ff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  animation: circle 2.5s linear 0s infinite;
}
.bg-wraper .triangle3 {
  border-bottom: 10px solid transparent;
  border-right: 20px solid #2196f3;
  border-top: 11px solid transparent;
  bottom: 50%;
  left: 20%;
  transform: rotate(-11deg);
}
.bg-wraper .circle1 {
  left: 5%;
  top: 70%;
  border: 22px solid #ffc107;
  border-radius: 50%;
}
.bg-wraper .circle2 {
  border: 28px solid #b5c1ff;
  bottom: 10%;
  right: 25%;
  border-radius: 50%;
}
.bg-wraper .circle3 {
  border: 20px solid rgba(12, 191, 0, 0.38039216);
  bottom: 85%;
  left: 14%;
  border-radius: 50%;
}
.bg-wraper .circle4 {
  border: 17px solid #97dfff;
  bottom: 44%;
  left: 82%;
  transform: rotate(-11deg);
}
.bg-wraper .icon {
  position: absolute;
  top: 33%;
  left: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  background: linear-gradient(to right, #4fda90 0%, #34dbc5 100%);
  transform: translate(-50%, 0);
  border-radius: 50%;
}
.bg-wraper .icon:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #34dbc5;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}
@keyframes circle {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.bg-rings {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 200px;
}
.bg-rings .ring__ringlet {
  position: absolute;
  width: 700px;
  height: 700px;
  background: rgba(56, 219, 191, 0.14);
  border: 1px solid #ccc;
  border-radius: 50%;
  transform: scale(0.1, 0.1);
  opacity: 0;
  animation: ring 3000ms ease-out infinite;
}
.bg-rings .ring__ringlet:nth-of-type(2) {
  animation-delay: 600ms;
}
.bg-rings .ring__ringlet:nth-of-type(3) {
  animation-delay: 1200ms;
}
@keyframes ring {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes btnIconRipple {
  0% {
    border-width: 4px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    border-width: 1px;
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
  }
  100% {
    opacity: 0;
  }
}
/*************************************************************
************************* 公共 ******************************
**************************************************************/
.zhu-input {
  width: 216px;
}
.item {
  margin-bottom: 15px;
}
h1 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}
h2,
h3,
p {
  margin-bottom: 15px;
}
h2 {
  font-size: 18px;
  font-weight: 600;
}
h3 {
  font-size: 16px;
}
p {
  line-height: 24px;
}
ul {
  margin: 20px 0;
}
ul li {
  line-height: 26px;
}
/*************************************************************
************************* index ******************************
**************************************************************/
.index-btn {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-btn .btn {
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 30px;
}
.index-btn img {
  width: 60px;
  height: 60px;
}
.index-btn img:hover {
  filter: blur(3px);
}
/*************************************************************
************************* plugin ******************************
**************************************************************/
/*************************************************************
************************* vuex ******************************
**************************************************************/
/*************************************************************
************************* get-value ******************************
**************************************************************/
.get-value {
  padding: 30px;
  box-shadow: 0 0 5px #aaa;
}
.get-value .child,
.get-value .grandson {
  padding: 30px;
  box-shadow: 0 0 5px #aaa;
}
/*************************************************************
************************* slot ******************************
**************************************************************/
.slot-demo {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slot-demo .slot-child {
  width: 500px;
  box-shadow: 0 0 5px #ddd;
}
.slot-demo .slot-child + h2 {
  margin-top: 15px;
}
.slot-demo .slot-child .slot-head,
.slot-demo .slot-child .slot-foot {
  padding: 10px 15px;
  line-height: 30px;
}
.slot-demo .slot-child .slot-body {
  padding: 15px;
}
.slot-demo .slot-child .slot-item {
  padding: 4px 0;
}
/*************************************************************
************************* nextTick ******************************
**************************************************************/
.nextTick .demo {
  overflow-y: auto;
  position: relative;
  width: 600px;
  height: 500px;
  margin: 0 auto 30px;
}
.nextTick .demo::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}
.nextTick .demo::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 2px;
}
.nextTick .demo::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 2px;
}
.nextTick .demo::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
.nextTick .demo-inner {
  height: 100vh;
}
.multiplication-table td {
  padding: 5px 10px;
  border: solid 1px #ccc;
}
/*************************************************************
************************* life ******************************
**************************************************************/
.life li {
  margin-bottom: 15px;
  line-height: 20px;
}
.life strong {
  font-weight: 600;
}
/*************************************************************
************************* chat ******************************
**************************************************************/
.chat-box {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 80%;
  border-left: 3px solid #2161b3;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}
.chat-header {
  height: 40px;
  padding: 5px 10px;
  line-height: 30px;
  color: #fff;
  background-color: #2161b3;
}
.chat-header i {
  margin-right: 6px;
}
.chat-fun {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
}
.chat-fun i {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  font-size: 20px;
  line-height: 30px;
  color: #ddd;
  text-align: center;
  cursor: pointer;
}
.chat-fun i:hover {
  color: #fff;
}
.chat-content {
  flex: 1;
  overflow: hidden;
}
.chat-list {
  height: 100%;
  overflow-y: auto;
}
.chat-list::-webkit-scrollbar {
  width: 8px;
}
.chat-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 2px;
}
.chat-list::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 2px;
}
.chat-list::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
.chat-list .chat-item {
  overflow: hidden;
  margin-top: 15px;
  padding: 5px 10px;
}
.chat-list .chat-item .chat-block {
  position: relative;
  padding: 0 55px;
}
.chat-list .chat-item .chat-block .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
}
.chat-list .chat-item .chat-block .avatar img {
  width: 100%;
  border-radius: 4px;
}
.chat-list .chat-item .chat-block.myself .avatar {
  left: auto;
  right: 0;
}
.chat-list .chat-item .chat-block .content .top {
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
  line-height: 20px;
}
.chat-list .chat-item .chat-block .content .top span {
  float: left;
}
.chat-list .chat-item .chat-block .content .top .name {
  color: #4f77ab;
}
.chat-list .chat-item .chat-block .content .top .time {
  padding: 0 6px;
  margin: 0 5px;
  font-size: 12px;
  color: #a0a0a0;
  background: rgba(146, 146, 146, 0.1);
  border-radius: 4px;
}
.chat-list .chat-item .chat-block .content .bot {
  position: relative;
  max-width: 100%;
  min-height: 20px;
  padding: 6px;
  line-height: 20px;
  color: #2d2d2d;
  display: inline-block;
  border: solid 1px #fff;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 4px;
}
.chat-list .chat-item .chat-block .content .bot::after {
  content: '';
  position: absolute;
  top: 14px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top: 0;
  margin-top: -7px;
}
.chat-list .chat-item .chat-block .content .bot:hover {
  border-color: #f6f6f6;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
}
.chat-list .chat-item .chat-block .content .bot p {
  min-height: 20px;
  margin: 0;
}
.chat-list .chat-item .chat-block.myself .content .top {
  float: right;
}
.chat-list .chat-item .chat-block.myself .content .top span {
  float: right;
}
.chat-list .chat-item .chat-block.other .content .bot::after {
  left: 0;
  border-left: 0;
  margin-left: -9px;
  border-right-color: inherit;
}
.chat-list .chat-item .chat-block.myself .content .bot {
  background-color: #9eea6a;
  border-color: #9eea6a;
  float: right;
}
.chat-list .chat-item .chat-block.myself .content .bot:hover {
  background-color: #98e165;
}
.chat-list .chat-item .chat-block.myself .content .bot::after {
  right: 0;
  border-right: 0;
  margin-right: -9px;
  border-left-color: inherit;
}
.chat-footer {
  height: 80px;
  padding: 10px;
  display: flex;
}
.chat-footer .chat-textarea {
  flex: 1;
}
.chat-footer .chat-btn {
  width: 60px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  line-height: 58px;
  text-align: center;
  background: linear-gradient(to bottom, #5b8ac7 0, #2765b5 100%);
  border: 1px solid #1e57a0;
  user-select: none;
  cursor: pointer;
}
.chat-footer .chat-btn:hover {
  color: #f98d5c;
}
.chat-footer .chat-btn:active {
  background: linear-gradient(to bottom, #2765b5 0, #5b8ac7 100%);
}
.chat-footer textarea {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  background-color: #f5f7fa;
  border: 1px solid #e4e7ed;
  resize: none;
  box-sizing: border-box;
}
/********************************************************************/
/********************************************************************/
/********************************************************************/
/********************************************************************/
.game-wrapper {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* 倒计时灯光 */
  /* 比赛结果背景动画 */
  /*  比赛结果 */
}
.game-wrapper .main-box {
  position: relative;
}
.game-wrapper .main-box .addtime,
.game-wrapper .main-box .close {
  position: absolute;
  top: -40px;
  right: 0;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.game-wrapper .main-box .addtime span,
.game-wrapper .main-box .close span {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 20px;
  color: #fff;
  background-color: #202020;
  cursor: pointer;
}
.game-wrapper .main-box .addtime span:hover,
.game-wrapper .main-box .close span:hover {
  background-color: #555;
}
.game-wrapper .game-num {
  width: 100%;
  height: 70px;
  background: url('../../assets/img/animate/top_header.jpg') no-repeat center;
}
.game-wrapper .game-num .num-left {
  float: left;
  color: #fff;
  width: 180px;
  height: 70px;
  line-height: 70px;
  padding-left: 15px;
  font-size: 22px;
  font-weight: 600;
}
.game-wrapper .game-num .num-left span {
  color: yellowgreen;
}
.game-wrapper .game-num .num-center {
  float: left;
  width: calc(100% - 450px);
  padding-left: 15px;
}
.game-wrapper .game-num .num-center ul {
  margin: 0;
  overflow: hidden;
}
.game-wrapper .game-num .num-center ul li {
  display: block;
  float: left;
  background: #fff;
  width: 45px;
  height: 40px;
  margin: 15px 8px;
  text-align: center;
  line-height: 40px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
  font-size: 24px;
  border-radius: 5px;
  font-style: italic;
}
.game-wrapper .game-num .num-right {
  float: right;
  width: 220px;
  color: #fff;
  height: 70px;
  line-height: 70px;
  font-size: 22px;
}
.game-wrapper .ant {
  position: relative;
  width: 1080px;
  height: 570px;
}
.game-wrapper .game-field {
  width: 1080px;
  height: 570px;
  overflow: hidden;
  position: relative;
}
.game-wrapper .topbg {
  width: 40000px;
  background: url('../../assets/img/animate/topbg.jpg') repeat-x;
  height: 119px;
  position: absolute;
  top: 70px;
  z-index: 5;
}
.game-wrapper .animate-box {
  background: url('../../assets/img/animate/road.jpg') repeat-x;
  height: 380px;
  width: 40000px;
  position: absolute;
  top: 189px;
  z-index: 5;
}
.game-wrapper .car {
  position: absolute;
  top: 185px;
  z-index: 6;
  left: 890px;
}
.game-wrapper .car.car2 {
  top: 220px;
  left: 890px;
  display: block;
}
.game-wrapper .car.car3 {
  top: 255px;
  left: 880px;
  display: block;
}
.game-wrapper .car.car4 {
  top: 290px;
  left: 870px;
  display: block;
}
.game-wrapper .car.car5 {
  top: 325px;
  left: 860px;
  display: block;
}
.game-wrapper .car.car6 {
  top: 360px;
  left: 850px;
  display: block;
}
.game-wrapper .car.car7 {
  top: 395px;
  left: 840px;
  display: block;
}
.game-wrapper .car.car8 {
  top: 430px;
  left: 830px;
  display: block;
}
.game-wrapper .car.car9 {
  top: 465px;
  left: 820px;
  display: block;
}
.game-wrapper .car.car10 {
  top: 500px;
  left: 810px;
  display: block;
}
.game-wrapper .car .icar {
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
}
.game-wrapper .car .car-div {
  position: relative;
  width: 200px;
  height: 42px;
}
.game-wrapper .car .car-div .car-wheel {
  position: absolute;
  top: 19px;
  left: 25px;
  width: 20px;
  display: none;
}
.game-wrapper .car .car-div .car-wheel2 {
  position: absolute;
  top: 19px;
  right: 64px;
  width: 20px;
  display: none;
}
.game-wrapper .car .car-div .car-front {
  position: absolute;
  top: -10px;
  left: -20px;
  z-index: 7;
  width: 150px;
  display: none;
}
.game-wrapper .car .car-div .car-after {
  position: absolute;
  width: 60px;
  z-index: 7;
  top: 25px;
  right: 5px;
  display: none;
}
.game-wrapper .game-light {
  position: absolute;
  z-index: 8;
  width: 636px;
  height: 210px;
  top: 230px;
  left: 185px;
}
.game-wrapper .lightred {
  width: 290px;
  position: absolute;
  right: -30px;
  top: 52px;
  display: none;
}
.game-wrapper .lightyellow {
  width: 290px;
  position: absolute;
  right: 166px;
  top: 52px;
  display: none;
}
.game-wrapper .lightgreen {
  width: 290px;
  position: absolute;
  right: 366px;
  top: 52px;
  display: none;
}
.game-wrapper .countdownnum {
  color: #fff;
  position: absolute;
  top: 0;
  left: 210px;
  font-size: 50px;
}
.game-wrapper .countdownnum2 {
  color: #fff;
  position: absolute;
  top: 20px;
  left: 360px;
  font-size: 30px;
}
.game-wrapper .rz-bg {
  width: 1080px;
  height: 570px;
  background: url('../../assets/img/rezult/resultbg.jpg') no-repeat center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.game-wrapper .place {
  visibility: hidden;
}
.game-wrapper .place1 {
  position: absolute;
  width: 226px;
  left: 460px;
  top: 150px;
}
.game-wrapper .place2 {
  position: absolute;
  width: 226px;
  left: 225px;
  top: 105px;
}
.game-wrapper .place3 {
  position: absolute;
  width: 226px;
  left: 710px;
  top: 105px;
}
.game-wrapper .place-name-1 {
  width: 422px;
  height: 184px;
  zoom: 0.6;
}
.game-wrapper .PN_1 .place-name-1 {
  background: url('../../assets/img/rezult/winner1.png');
}
.game-wrapper .PN_2 .place-name-1 {
  background: url('../../assets/img/rezult/winner2.png') no-repeat center;
}
.game-wrapper .PN_3 .place-name-1 {
  background: url('../../assets/img/rezult/winner3.png');
}
.game-wrapper .PN_4 .place-name-1 {
  background: url('../../assets/img/rezult/winner4.png') no-repeat center;
}
.game-wrapper .PN_5 .place-name-1 {
  background: url('../../assets/img/rezult/winner5.png');
}
.game-wrapper .PN_6 .place-name-1 {
  background: url('../../assets/img/rezult/winner6.png') no-repeat center;
}
.game-wrapper .PN_7 .place-name-1 {
  background: url('../../assets/img/rezult/winner7.png');
}
.game-wrapper .PN_8 .place-name-1 {
  background: url('../../assets/img/rezult/winner8.png') no-repeat center;
}
.game-wrapper .PN_9 .place-name-1 {
  background: url('../../assets/img/rezult/winner9.png');
}
.game-wrapper .PN_10 .place-name-1 {
  background: url('../../assets/img/rezult/winner10.png') no-repeat center;
}
.game-wrapper .game-rezult {
  width: 1080px;
  height: 80px;
  background: #202020;
  margin-top: -1px;
  overflow: hidden;
}
.game-wrapper .game-rezult em,
.game-wrapper .game-rezult i {
  font-style: normal;
}
.game-wrapper .game-rezult .rezult-left {
  float: left;
  height: 64px;
  margin: 5px 5px 0 0;
  border: 3px solid #333;
  width: 270px;
  overflow: hidden;
}
.game-wrapper .game-rezult .rezult-left em {
  float: left;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  padding: 0 0 0 10px;
  color: #fff;
  display: block;
}
.game-wrapper .game-rezult .rezult-left span {
  float: left;
  height: 64px;
  line-height: 64px;
  color: #fff;
  font-size: 20px;
  display: block;
}
.game-wrapper .game-rezult .rezult-center {
  float: left;
  height: 64px;
  margin: 5px 10px 0 10px;
  border: 3px solid #333;
  width: 320px;
  overflow: hidden;
}
.game-wrapper .game-rezult .rezult-center p,
.game-wrapper .game-rezult .rezult-right p,
.game-wrapper .game-rezult .rezult-left p {
  margin: 0;
}
.game-wrapper .game-rezult .rezult-center em {
  float: left;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  padding: 0 0 0 10px;
  color: #fff;
  display: block;
}
.game-wrapper .game-rezult .rezult-center i {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: #08f;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  margin: 12px 12px 0 0;
  color: #fff;
  font-size: 22px;
}
.game-wrapper .game-rezult .rezult-right {
  float: left;
  height: 64px;
  margin: 5px 0 0 0;
  border: 3px solid #333;
  width: 445px;
  overflow: hidden;
}
.game-wrapper .game-rezult .rezult-right em {
  float: left;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  padding: 0 0 0 10px;
  color: #fff;
  display: block;
}
.game-wrapper .game-rezult .rezult-right i {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: #08f;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  margin: 12px 12px 0 0;
  color: #fff;
  font-size: 22px;
}
.game-wrapper .line-1,
.game-wrapper .line-2 {
  position: absolute;
  top: 201px;
  z-index: 6;
  height: 346px;
  overflow: hidden;
}
.game-wrapper .line-1 {
  right: 1200px;
}
.game-wrapper .line-2 {
  right: 180px;
}
.game-wrapper .animate .line-2 {
  transition: right 2s ease-in;
  right: -2000px;
}
.game-wrapper .animate2 .line-2 {
  right: -2000px;
}
.game-wrapper .animate2 .line-1 {
  transition: right 2s ease-out;
  right: 180px;
}
.game-wrapper .animate .car {
  transition: left 2s ease-in-out;
}
.game-wrapper .animate2 .car {
  transition: left 2s ease-in-out;
}
.game-wrapper .place {
  transition: left 0.5s, top 0.5s;
}
.game-wrapper .topbg,
.game-wrapper .animate-box {
  transform: translate3d(-38920px, 0, 0);
  animation-fill-mode: forwards;
}
.game-wrapper .animate .topbg,
.game-wrapper .animate .animate-box {
  animation: marquee 30s linear infinite;
}
.game-wrapper .animate2 .topbg,
.game-wrapper .animate2 .animate-box {
  animation: jianshu 2s ease-out;
}
@keyframes marquee {
  0% {
    transform: translate3d(-38920px, 0, 0);
  }
  100% {
    transform: translate3d(-2160px, 0, 0);
  }
}
@keyframes jianshu {
  from {
    transform: translate3d(-38920px, 0, 0);
  }
  to {
    transform: translate3d(-36760px, 0, 0);
  }
}
